@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
    --primary-color: rgb(91, 164, 164);
    --background-color: hsl(180, 52%, 96%);
    --filter-table: hsl(180, 31%, 95%);
    --dark-greyish: hsl(180, 8%, 52%);
    --very-dark-greyish: hsl(180, 14%, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(180, 52%, 96%);
    overflow-x: hidden;
}

.header {
    width: 100vw;
    height: 25vh;
    background: url(./assets/images/bg-header-desktop.svg);
    background-color: var(--primary-color);
    padding-top: 2rem;
}